venv/
.venv/

__pycache__/
*.py[cod]
*$py.class

*.pyc
*.pyo

.DS_Store

*.log
logs/

.cache/

.pytest_cache/
.mypy_cache/
.coverage

dist/
build/
*.egg-info/

.idea/
.vscode/
*.swp
*.swo

.ipynb_checkpoints/

migration/
alembic/versions/

poetry.lock
pyproject.toml

Pipfile
Pipfile.lock